@import url(http://fonts.googleapis.com/css?family=Montserrat);
body {
  background: url(gold_scale_@2X.png);
  background-attachment: fixed;
  overflow-y: scroll;
}

.wrap {
  display: block;
  max-width: 1024px;
  margin: 0 auto 2em;
  padding: 0 1em;
  width: 100%;
}
@media (min-width: 43.75em) {
  .wrap {
    padding: 3em;
  }
}

p {
  color: #555;
  text-shadow: 1px 1px 1px #fff;
}

a, a:visited {
  color: rgb(247, 212, 105);
  text-decoration: none;
}

.question-section {
  background: #F8F9F5;
  box-shadow: 0 2px 5px rgba(68, 68, 68, 0.4);
  display: block;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 1em;
  padding: 1em;
  position: relative;
  vertical-align: top;
  width: 100%;
}
@media (min-width: 50em) {
  .question-section {
    font-size: .75rem;
    padding: 1em 1.5em;
  }
}
@media (min-width: 62.5em) {
  .question-section {
    font-size: 1rem;
  }
}
.question-section h1 {
  font-family: 'Montserrat', sans-serif;
  color: rgb(220, 183, 68);
  font-size: 6em;
  font-size: 6vw;
  font-weight: 700;
  margin-bottom: .25em;
  margin-top: -.10em;
}
@media (min-width: 32.25em) {
  .question-section h1 {
    font-size: 2.25em;
    font-size: 4.9vw;
  }
}
@media (min-width: 67.5em) {
  .question-section h1 {
    font-size: 5.25em;
  }
}
.question-section > p, .question-section > h1 {
  text-align: center;
}
.question-section > p {
  font-size: 0.667em;
  font-size: 2.8vw;
  margin-bottom: 1em;
}
@media (min-width: 22.1875em) {
  .question-section > p {
    font-size: 0.667em;
  }
}
@media (min-width: 31.25em) {
  .question-section > p {
    font-size: 1em;
  }
}
@media (min-width: 81.25em) {
  .question-section > p {
    font-size: 1.15em;
  }
}

div[class^="cat"] {
  width: 100%;
}
div[class^="cat"] > label {
  background: rgb(220, 183, 68);
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  display: block;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 0.5em;
  padding: 0.75em 0.5em;
  -webkit-transition: all 0.55s;
          transition: all 0.55s;
}
div[class^="cat"] > label:hover {
  background: rgb(251, 195, 22);
}
@media (min-width: 50em) {
  div[class^="cat"] > label {
    font-size: 1.25em;
  }
}
div[class^="cat"] > input {
  position: absolute;
  z-index: -999;
}
div[class^="cat"] > input:focus + label {
  letter-spacing: 1px;
}
div[class^="cat"] .question-wrap {
  height: 100%;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
          transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  width: 100%;
}
div[class^="cat"] > input:checked ~ .question-wrap {
  max-height: 2000px;
  opacity: 1;
  -webkit-transition: all 1.95s cubic-bezier(0.19, 1, 0.22, 1);
          transition: all 1.95s cubic-bezier(0.19, 1, 0.22, 1);
}
.question-wrap .question {
  margin: 1em 0;
}
.question-wrap label {
  color: rgb(220, 183, 68);
  display: block;
  font-weight: bold;
  margin-bottom: 0.5em;
}
@media (min-width: 50em) {
  .question-wrap label {
    font-size: 1.25em;
  }
}

a:focus {
  color: #085078;
  font-weight: bold;
  outline: none;
}
